/* -------------------------------
   DASHBOARD
--------------------------------*/

.dashboard-icon {
    padding-right: 10px;
}

/* -------------------------------
   SIDEBAR
--------------------------------*/

.sidebar-icon-svg {
    width: 20px;
    height: 20px;
    margin-right: 5px;
}

.sidebar-icon-svg path{
    stroke: #364153; 
}

.menu-item:hover .sidebar-icon-svg path {
    stroke: #fff;
}

/* -------------------------------
   NOTIF BELL
--------------------------------*/
.notif-bell {
    padding: 12px;
    margin-bottom: 8px;
    color: #333;
    text-decoration: none;
    border-radius: 8px;
    transition: 0.2s;
    display: flex;
    align-items: center;
    position: relative;
    
}


.notif-bell-icon-svg {
    position: absolute;
    bottom: 1px;
    left: 137px;
    z-index: 1000;
}

.notif-bell-icon-svg path {
    stroke: #364153;
    fill: #fff;
}

.notif-bell:hover .notif-bell-icon-svg path {
    stroke: #fff;
    fill: #364153;
}