body { 
    font-family: sans-serif; padding: 20px;
}

.report-section {
    padding: 10px;
}

.report-input-card {
    background: #fff;
    padding: 18px;
    border-radius: 14px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.06);
    display: flex;
    gap: 12px;
    align-items: center;
    margin-top: 20px;
}

.report-form {
    width: 100%;
    display: flex;
    gap: 12px;
    align-items: center;
}

.export-buttons { 
    white-space: nowrap;
    display: flex;
    gap: 12px;
    margin-left: 50px;
}

.chart-container {
    max-height: 300px;
    width: 45% !important;
    height: auto !important;
    margin-bottom: 25px;
}

.report-chart-card {
    width: 100%;
    display: flex;
    align-items: first baseline;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    padding: 25px;
    margin-top: 30px;
}

.category-table-container {
    margin-top: 30px;
    padding: 25px;
    background: #fff;
    border-radius: 16px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

.report-table {
    font-size: 13px;
}

.report-table th,
.report-table td {
    padding: 10px 8px;
}


.report-table {
    width: 100%;
    border-collapse: collapse;
}

.report-table th {
    text-align: left;
    padding-bottom: 12px;
    font-size: 14px;
    color: #777;
}

.report-table td {
    padding: 14px 8px;
    border-bottom: 1px solid #eee;
    font-size: 14px;
}

.report-table tr:last-child td {
    border-bottom: none;
}